header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #061548;
  }
  
  #logo img {
    width: 30%;
    height: 100%;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #3360FF;
  }
  
  @media (min-width: 768px) {
    header {
      font-size: 1.25rem;
      flex-direction: row;
      gap: 0;
      padding: 1.5rem 10%;
    }
  }